/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
a {
  color: #163857;
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: #163857;
}
a:visited {
  text-decoration: none;
  color: #163857;
}
a:hover {
  text-decoration: none;
  color: #6385c9;
}
a:active, .sf-menu.sf-style-default a:focus {
  text-decoration: none;
  color: #163857;
}

.zone-branding {
  margin: 0px;
}

#zone-branding {
  background: url("http://tmi/sites/all/themes/omega_tm/images/The_Matrix.jpg") scroll 0 700px transparent;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

html, body {
  height: 100%;
  min-height: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aed1fd));
  background-image: -webkit-linear-gradient(#ffffff, #aed1fd);
  background-image: -moz-linear-gradient(#ffffff, #aed1fd);
  background-image: -o-linear-gradient(#ffffff, #aed1fd);
  background-image: -ms-linear-gradient(#ffffff, #aed1fd);
  background-image: linear-gradient(#ffffff, #aed1fd);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0px;
}

body {
  color: #163857;
}

.block-block-1 {
  float: right;
  margin: 0px 10px 10px 10px;
  width: 30%;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.block-block-1 a {
  color: white;
  font-weight: bold;
}

.block-search-form {
  float: right;
  margin: 10px;
}

.userstuff {
  color: black;
  float: right;
  margin: 10px;
}

.breadcrumb {
  font-size: .7em;
  font-style: italic;
  margin-left: 40px;
}

.logo-img {
  margin-right: 0px;
}

.logo-img img {
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -ms-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  margin: 10px;
}

.node-wiki_page-form .field-type-taxonomy-term-reference {
  display: inline-block;
  margin: 0 .5em;
}

#user-login-form .form-item, #user-login-form .form-actions {
  display: block;
  float: left;
  margin: 0.1em 0.2em;
}
#user-login-form label {
  display: inline;
  font-size: 12px;
}
#user-login-form input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#user-login-form .item-list {
  display: inline;
}
#user-login-form .item-list ul li {
  display: block;
  float: left;
  list-style: none;
  font-size: 12px;
}

#zone-menu-wrapper {
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a7cb1), color-stop(100%, #163857));
  background-image: -webkit-linear-gradient(#3a7cb1, #163857);
  background-image: -moz-linear-gradient(#3a7cb1, #163857);
  background-image: -o-linear-gradient(#3a7cb1, #163857);
  background-image: -ms-linear-gradient(#3a7cb1, #163857);
  background-image: linear-gradient(#3a7cb1, #163857);
  height: auto;
}

#zone-menu {
  padding: 10px;
}

.sf-menu.sf-style-default {
  float: left;
  margin-bottom: 0px;
  padding: 0;
  /*
  li.sfHover {
    @extend a:hover;
  }
  */
}
.sf-menu.sf-style-default .sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-default ul {
  padding-left: 0;
}
.sf-menu.sf-style-default a {
  border-left: 0px;
  border-top: 0px;
  padding: 0.25em 1em;
  height: 1em;
  color: #cfdbed;
  background: #163857;
}
.sf-menu.sf-style-default a:visited {
  color: #cfdbed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #163857), color-stop(100%, #2b6ca8));
  background-image: -webkit-linear-gradient(#163857, #2b6ca8);
  background-image: -moz-linear-gradient(#163857, #2b6ca8);
  background-image: -o-linear-gradient(#163857, #2b6ca8);
  background-image: -ms-linear-gradient(#163857, #2b6ca8);
  background-image: linear-gradient(#163857, #2b6ca8);
}
.sf-menu.sf-style-default a:hover, .sf-menu.sf-style-default a li:hover {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #163857), color-stop(100%, #2b6ca8));
  background-image: -webkit-linear-gradient(#163857, #2b6ca8);
  background-image: -moz-linear-gradient(#163857, #2b6ca8);
  background-image: -o-linear-gradient(#163857, #2b6ca8);
  background-image: -ms-linear-gradient(#163857, #2b6ca8);
  background-image: linear-gradient(#163857, #2b6ca8);
}
.sf-menu.sf-style-default a:active, .sf-menu.sf-style-default a:focus {
  color: #5f87c4;
}
.sf-menu.sf-style-default .topround, .sf-menu.sf-style-default li.first.sf-depth-2 a.sf-depth-2, .sf-menu.sf-style-default li.first.sf-depth-2 a.sf-depth-2:link, .sf-menu.sf-style-default li.first.sf-depth-2 a.sf-depth-2:visited, .sf-menu.sf-style-default li.first.sf-depth-2 a.sf-depth-2:active, .sf-menu.sf-style-default li.first.sf-depth-2 a.sf-depth-2:focus, .sf-menu.sf-style-default li.first.sf-depth-3 a.sf-depth-3, .sf-menu.sf-style-default li.first.sf-depth-3 a.sf-depth-3:link, .sf-menu.sf-style-default li.first.sf-depth-3 a.sf-depth-3:visited, .sf-menu.sf-style-default li.first.sf-depth-3 a.sf-depth-3:active, .sf-menu.sf-style-default li.first.sf-depth-3 a.sf-depth-3:focus, .sf-menu.sf-style-default li.first.sf-depth-4 a.sf-depth-4, .sf-menu.sf-style-default li.first.sf-depth-4 a.sf-depth-4:link, .sf-menu.sf-style-default li.first.sf-depth-4 a.sf-depth-4:visited, .sf-menu.sf-style-default li.first.sf-depth-4 a.sf-depth-4:active, .sf-menu.sf-style-default li.first.sf-depth-4 a.sf-depth-4:focus, .sf-menu.sf-style-default li.first.sf-depth-5 a.sf-depth-5, .sf-menu.sf-style-default li.first.sf-depth-5 a.sf-depth-5:link, .sf-menu.sf-style-default li.first.sf-depth-5 a.sf-depth-5:visited, .sf-menu.sf-style-default li.first.sf-depth-5 a.sf-depth-5:active, .sf-menu.sf-style-default li.first.sf-depth-5 a.sf-depth-5:focus, .sf-menu.sf-style-default li.first.sf-depth-6 a.sf-depth-6, .sf-menu.sf-style-default li.first.sf-depth-6 a.sf-depth-6:link, .sf-menu.sf-style-default li.first.sf-depth-6 a.sf-depth-6:visited, .sf-menu.sf-style-default li.first.sf-depth-6 a.sf-depth-6:active, .sf-menu.sf-style-default li.first.sf-depth-6 a.sf-depth-6:focus, .sf-menu.sf-style-default li.first.sf-depth-7 a.sf-depth-7, .sf-menu.sf-style-default li.first.sf-depth-7 a.sf-depth-7:link, .sf-menu.sf-style-default li.first.sf-depth-7 a.sf-depth-7:visited, .sf-menu.sf-style-default li.first.sf-depth-7 a.sf-depth-7:active, .sf-menu.sf-style-default li.first.sf-depth-7 a.sf-depth-7:focus, .sf-menu.sf-style-default li.first.sf-depth-8 a.sf-depth-8, .sf-menu.sf-style-default li.first.sf-depth-8 a.sf-depth-8:link, .sf-menu.sf-style-default li.first.sf-depth-8 a.sf-depth-8:visited, .sf-menu.sf-style-default li.first.sf-depth-8 a.sf-depth-8:active, .sf-menu.sf-style-default li.first.sf-depth-8 a.sf-depth-8:focus, .sf-menu.sf-style-default li.first.sf-depth-9 a.sf-depth-9, .sf-menu.sf-style-default li.first.sf-depth-9 a.sf-depth-9:link, .sf-menu.sf-style-default li.first.sf-depth-9 a.sf-depth-9:visited, .sf-menu.sf-style-default li.first.sf-depth-9 a.sf-depth-9:active, .sf-menu.sf-style-default li.first.sf-depth-9 a.sf-depth-9:focus, .sf-menu.sf-style-default li.first.sf-depth-10 a.sf-depth-10, .sf-menu.sf-style-default li.first.sf-depth-10 a.sf-depth-10:link, .sf-menu.sf-style-default li.first.sf-depth-10 a.sf-depth-10:visited, .sf-menu.sf-style-default li.first.sf-depth-10 a.sf-depth-10:active, .sf-menu.sf-style-default li.first.sf-depth-10 a.sf-depth-10:focus {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sf-menu.sf-style-default .noborder, .sf-menu.sf-style-default li.middle.sf-depth-2 a.sf-depth-2, .sf-menu.sf-style-default li.middle.sf-depth-2 a.sf-depth-2:link, .sf-menu.sf-style-default li.middle.sf-depth-2 a.sf-depth-2:visited, .sf-menu.sf-style-default li.middle.sf-depth-2 a.sf-depth-2:active, .sf-menu.sf-style-default li.middle.sf-depth-2 a.sf-depth-2:focus, .sf-menu.sf-style-default li.middle.sf-depth-3 a.sf-depth-3, .sf-menu.sf-style-default li.middle.sf-depth-3 a.sf-depth-3:link, .sf-menu.sf-style-default li.middle.sf-depth-3 a.sf-depth-3:visited, .sf-menu.sf-style-default li.middle.sf-depth-3 a.sf-depth-3:active, .sf-menu.sf-style-default li.middle.sf-depth-3 a.sf-depth-3:focus, .sf-menu.sf-style-default li.middle.sf-depth-4 a.sf-depth-4, .sf-menu.sf-style-default li.middle.sf-depth-4 a.sf-depth-4:link, .sf-menu.sf-style-default li.middle.sf-depth-4 a.sf-depth-4:visited, .sf-menu.sf-style-default li.middle.sf-depth-4 a.sf-depth-4:active, .sf-menu.sf-style-default li.middle.sf-depth-4 a.sf-depth-4:focus, .sf-menu.sf-style-default li.middle.sf-depth-5 a.sf-depth-5, .sf-menu.sf-style-default li.middle.sf-depth-5 a.sf-depth-5:link, .sf-menu.sf-style-default li.middle.sf-depth-5 a.sf-depth-5:visited, .sf-menu.sf-style-default li.middle.sf-depth-5 a.sf-depth-5:active, .sf-menu.sf-style-default li.middle.sf-depth-5 a.sf-depth-5:focus, .sf-menu.sf-style-default li.middle.sf-depth-6 a.sf-depth-6, .sf-menu.sf-style-default li.middle.sf-depth-6 a.sf-depth-6:link, .sf-menu.sf-style-default li.middle.sf-depth-6 a.sf-depth-6:visited, .sf-menu.sf-style-default li.middle.sf-depth-6 a.sf-depth-6:active, .sf-menu.sf-style-default li.middle.sf-depth-6 a.sf-depth-6:focus, .sf-menu.sf-style-default li.middle.sf-depth-7 a.sf-depth-7, .sf-menu.sf-style-default li.middle.sf-depth-7 a.sf-depth-7:link, .sf-menu.sf-style-default li.middle.sf-depth-7 a.sf-depth-7:visited, .sf-menu.sf-style-default li.middle.sf-depth-7 a.sf-depth-7:active, .sf-menu.sf-style-default li.middle.sf-depth-7 a.sf-depth-7:focus, .sf-menu.sf-style-default li.middle.sf-depth-8 a.sf-depth-8, .sf-menu.sf-style-default li.middle.sf-depth-8 a.sf-depth-8:link, .sf-menu.sf-style-default li.middle.sf-depth-8 a.sf-depth-8:visited, .sf-menu.sf-style-default li.middle.sf-depth-8 a.sf-depth-8:active, .sf-menu.sf-style-default li.middle.sf-depth-8 a.sf-depth-8:focus, .sf-menu.sf-style-default li.middle.sf-depth-9 a.sf-depth-9, .sf-menu.sf-style-default li.middle.sf-depth-9 a.sf-depth-9:link, .sf-menu.sf-style-default li.middle.sf-depth-9 a.sf-depth-9:visited, .sf-menu.sf-style-default li.middle.sf-depth-9 a.sf-depth-9:active, .sf-menu.sf-style-default li.middle.sf-depth-9 a.sf-depth-9:focus, .sf-menu.sf-style-default li.middle.sf-depth-10 a.sf-depth-10, .sf-menu.sf-style-default li.middle.sf-depth-10 a.sf-depth-10:link, .sf-menu.sf-style-default li.middle.sf-depth-10 a.sf-depth-10:visited, .sf-menu.sf-style-default li.middle.sf-depth-10 a.sf-depth-10:active, .sf-menu.sf-style-default li.middle.sf-depth-10 a.sf-depth-10:focus {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sf-menu.sf-style-default .botround, .sf-menu.sf-style-default li.last.sf-depth-2 a.sf-depth-2, .sf-menu.sf-style-default li.last.sf-depth-2 a.sf-depth-2:link, .sf-menu.sf-style-default li.last.sf-depth-2 a.sf-depth-2:visited, .sf-menu.sf-style-default li.last.sf-depth-2 a.sf-depth-2:active, .sf-menu.sf-style-default li.last.sf-depth-2 a.sf-depth-2:focus, .sf-menu.sf-style-default li.last.sf-depth-3 a.sf-depth-3, .sf-menu.sf-style-default li.last.sf-depth-3 a.sf-depth-3:link, .sf-menu.sf-style-default li.last.sf-depth-3 a.sf-depth-3:visited, .sf-menu.sf-style-default li.last.sf-depth-3 a.sf-depth-3:active, .sf-menu.sf-style-default li.last.sf-depth-3 a.sf-depth-3:focus, .sf-menu.sf-style-default li.last.sf-depth-4 a.sf-depth-4, .sf-menu.sf-style-default li.last.sf-depth-4 a.sf-depth-4:link, .sf-menu.sf-style-default li.last.sf-depth-4 a.sf-depth-4:visited, .sf-menu.sf-style-default li.last.sf-depth-4 a.sf-depth-4:active, .sf-menu.sf-style-default li.last.sf-depth-4 a.sf-depth-4:focus, .sf-menu.sf-style-default li.last.sf-depth-5 a.sf-depth-5, .sf-menu.sf-style-default li.last.sf-depth-5 a.sf-depth-5:link, .sf-menu.sf-style-default li.last.sf-depth-5 a.sf-depth-5:visited, .sf-menu.sf-style-default li.last.sf-depth-5 a.sf-depth-5:active, .sf-menu.sf-style-default li.last.sf-depth-5 a.sf-depth-5:focus, .sf-menu.sf-style-default li.last.sf-depth-6 a.sf-depth-6, .sf-menu.sf-style-default li.last.sf-depth-6 a.sf-depth-6:link, .sf-menu.sf-style-default li.last.sf-depth-6 a.sf-depth-6:visited, .sf-menu.sf-style-default li.last.sf-depth-6 a.sf-depth-6:active, .sf-menu.sf-style-default li.last.sf-depth-6 a.sf-depth-6:focus, .sf-menu.sf-style-default li.last.sf-depth-7 a.sf-depth-7, .sf-menu.sf-style-default li.last.sf-depth-7 a.sf-depth-7:link, .sf-menu.sf-style-default li.last.sf-depth-7 a.sf-depth-7:visited, .sf-menu.sf-style-default li.last.sf-depth-7 a.sf-depth-7:active, .sf-menu.sf-style-default li.last.sf-depth-7 a.sf-depth-7:focus, .sf-menu.sf-style-default li.last.sf-depth-8 a.sf-depth-8, .sf-menu.sf-style-default li.last.sf-depth-8 a.sf-depth-8:link, .sf-menu.sf-style-default li.last.sf-depth-8 a.sf-depth-8:visited, .sf-menu.sf-style-default li.last.sf-depth-8 a.sf-depth-8:active, .sf-menu.sf-style-default li.last.sf-depth-8 a.sf-depth-8:focus, .sf-menu.sf-style-default li.last.sf-depth-9 a.sf-depth-9, .sf-menu.sf-style-default li.last.sf-depth-9 a.sf-depth-9:link, .sf-menu.sf-style-default li.last.sf-depth-9 a.sf-depth-9:visited, .sf-menu.sf-style-default li.last.sf-depth-9 a.sf-depth-9:active, .sf-menu.sf-style-default li.last.sf-depth-9 a.sf-depth-9:focus, .sf-menu.sf-style-default li.last.sf-depth-10 a.sf-depth-10, .sf-menu.sf-style-default li.last.sf-depth-10 a.sf-depth-10:link, .sf-menu.sf-style-default li.last.sf-depth-10 a.sf-depth-10:visited, .sf-menu.sf-style-default li.last.sf-depth-10 a.sf-depth-10:active, .sf-menu.sf-style-default li.last.sf-depth-10 a.sf-depth-10:focus {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1 {
  background: none;
}
.sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1:link {
  -webkit-border-radius: 25px 25px;
  -moz-border-radius: 25px / 25px;
  -ms-border-radius: 25px / 25px;
  -o-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
  background: none;
}
.sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1:visited {
  -webkit-border-radius: 25px 25px;
  -moz-border-radius: 25px / 25px;
  -ms-border-radius: 25px / 25px;
  -o-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
  background: none;
}
.sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1:hover {
  -webkit-border-radius: 25px 25px;
  -moz-border-radius: 25px / 25px;
  -ms-border-radius: 25px / 25px;
  -o-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #163857), color-stop(100%, #2b6ca8));
  background-image: -webkit-linear-gradient(#163857, #2b6ca8);
  background-image: -moz-linear-gradient(#163857, #2b6ca8);
  background-image: -o-linear-gradient(#163857, #2b6ca8);
  background-image: -ms-linear-gradient(#163857, #2b6ca8);
  background-image: linear-gradient(#163857, #2b6ca8);
}
.sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1:active, .sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1:focus {
  -webkit-border-radius: 25px 25px;
  -moz-border-radius: 25px / 25px;
  -ms-border-radius: 25px / 25px;
  -o-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
  background: none;
}
.sf-menu.sf-style-default li.sf-depth-1 a.sf-depth-1:focus {
  -webkit-border-radius: 25px 25px;
  -moz-border-radius: 25px / 25px;
  -ms-border-radius: 25px / 25px;
  -o-border-radius: 25px / 25px;
  border-radius: 25px / 25px;
  background: none;
}
.sf-menu.sf-style-default li.sf-total-children-1 li a {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
.sf-menu.sf-style-default li, .sf-menu.sf-style-default .sf-navbar {
  background: none;
}
.sf-menu.sf-style-default li li {
  background: none;
}
.sf-menu.sf-style-default li li li {
  background: none;
}
.sf-menu.sf-style-default .sf-menu.sf-navbar.sf-shadow ul ul {
  background: none;
}
