/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
.logo-img {
  margin-right: 0px;
  display: inline;
}

.logo-img img {
  margin: 0px;
  padding: 0px;
}

#zone-branding {
  background: url("http://tmi/sites/all/themes/omega_tm/images/The_Matrix.jpg") scroll 10px -100px transparent;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.branding-data {
  display: inline;
  width: 20px;
}
