// Colors

// Blues
$vlightblue:#AED1FD;
$darkblue:#163857;
$darkblue2:#1D304F;
$lightblue:#4489BF;
$skyblue:#3A7CB1;
$hoverblue:#4897C9;
$matrixdarkblue:#323396;
$matrixlightblue:#6385C9;

$lb: #6385C9;
$db:#11163B;

// Greens
$darkgreen:#55583F;

// greys:
$lightgrey:#474C5F;

// 
$bodytop: white;
$bodybot: $vlightblue;

// LOVE HATE order ( link, visited, hover, active )
$link-color: $darkblue;
$visited-link-color:$darkblue;
$hover-link-color:$matrixlightblue;
$active-link-color:$darkblue;

$thoughtblue:#5F87C4;
$matrixblue:#293690;
