// Super Fish Menu Stuff /////////////


#zone-menu-wrapper {
	width:100%;
	@include menu_grad();
	height:auto;
}
#zone-menu {
  padding:10px;
}


.sf-menu.sf-style-default {

  float: left;
  margin-bottom: 0px;
  padding: 0;

  .sf-navbar {
    width: 100%;
  }

  ul {
    padding-left: 0;
  }
  a {
    border-left: 0px;
    border-top: 0px;
    padding: 0.25em 1em;
    height:1em;
    color: lighten($thoughtblue,30);
    background:$darkblue;
    &:visited {
      color: lighten($thoughtblue,30);
      @include menu_rev_grad(); 
    }
    &:hover, li:hover {
      color: white;
      @include menu_rev_grad(); 
    }
    &:active { 
      color: $thoughtblue; 
    }
    &:focus {
      @extend a:active;
    }
  }
  /*
  li.sfHover {
    @extend a:hover;
  }
  */

  // Submenus

  .topround { 
    @include border-top-radius($submenu-border-radius); 
    @include border-bottom-radius(0); 
  }
  .noborder { @include border-top-radius(0); @include border-bottom-radius(0); }
  .botround { @include border-top-radius(0); @include border-bottom-radius($submenu-border-radius); }

  @include group(first, '.topround');
  @include group(middle, '.noborder');
  @include group(last, '.botround');

  // Main menu
  li.sf-depth-1 a.sf-depth-1 {
    background: none;
    &:link{ 
      @include border-radius($mainmenu-border-radius, $mainmenu-border-radius); 
      background: none;
    }
    &:visited{ 
      @include border-radius($mainmenu-border-radius, $mainmenu-border-radius); 
      background: none;
    }
    &:hover { 
      @include border-radius($mainmenu-border-radius, $mainmenu-border-radius); 
      @include menu_rev_grad();
    }
    &:active { 
      @include border-radius($mainmenu-border-radius, $mainmenu-border-radius); 
      background: none;
    }
    &:focus { 
      @include border-radius($mainmenu-border-radius, $mainmenu-border-radius); 
      background: none;
    }
  }

  // For submenus that just have one child
  li.sf-total-children-1 li a {
    @include border-radius($submenu-border-radius, $submenu-border-radius);
  }
  li, .sf-navbar {
    background:none;
  }
  li li {
    background: none;
  }
  li li li {
    background: none;
  }
  .sf-menu.sf-navbar.sf-shadow ul ul {
    background:none;
  }

}
