/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

@import "compass";
@import "colors";

@mixin menu_grad() {
	@include background-image(linear-gradient( $skyblue, $darkblue));
}

@mixin menu_rev_grad() {
	@include background-image(linear-gradient( $darkblue, lighten($darkblue, 20)));
}
@mixin group($section, $class){
  @for $i from 2 through 10 {
      li.#{$section}.sf-depth-#{$i} a.sf-depth-#{$i} {
        @extend #{$class};
        &:link { @extend #{$class}; }
        &:visited { @extend #{$class}; }
        &:active { @extend #{$class}; }
        &:focus { @extend #{$class};}
      }
  }
}

// Styles
$style: solid;
$mainmenu-border-radius:25px;
$submenu-border-radius:5px;
//@include box-shadow(black 2px 2px 5px);

a {
  color: $link-color;
  text-decoration:none;
  // Be explicit here because some old css is very specific
  // this is somewhat of a reset
  // Sass doesn't repeat the text-decoration if you don't have it.
  &:link { 
    text-decoration:none;
    color: $link-color;
	}
  &:visited { 
    text-decoration:none;
    color: $visited-link-color; 
	}
  &:hover { 
    text-decoration:none;
    color: $hover-link-color; 
	}
  &:active { 
    text-decoration:none;
    color: $active-link-color;
	}
}
	//@include background-image(linear-gradient($bodytop, $bodybot));
.zone-branding {
	margin:0px;
}
	//@include transition-property("background-position-y");
	//@include transition-duration("2s");
#zone-branding {
  background:	url("http://tmi/sites/all/themes/omega_tm/images/The_Matrix.jpg") scroll 0 700px transparent;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
html, body {
	height:100%;
  min-height:100%;
	@include background-image(linear-gradient($bodytop, $bodybot));
	background-attachment:fixed;
	background-repeat:no-repeat;
	margin:0px;
}
body {
	color:$darkblue;
}
.block-block-1 {
 float:right;
 margin:0px 10px 10px 10px;
 width:30%;
 background: black;
 @include opacity(.9);
 a {
	 color:white;
	 font-weight:bold;
 }
}

.block-search-form {
  float:right;
  margin:10px;
}

.userstuff {
  color:black;
  float:right;
  margin:10px;
}
.breadcrumb {
	font-size:.7em;
	font-style:italic;
	margin-left:40px;
}
.logo-img {
	margin-right:0px;
}
.logo-img img {
	@include transition-property("margin");
	@include transition-duration("2s");
	margin:10px;
}
.node-wiki_page-form .field-type-taxonomy-term-reference {
	display: inline-block;
	margin: 0 .5em;
}

#user-login-form {
  .form-item, .form-actions { display:block; float:left; margin:0.1em 0.2em; }
  label {  display:inline; font-size:12px; }
  input { @include border-radius($submenu-border-radius); }
  .item-list { display:inline; }
  .item-list ul li { 
    display:block; 
    float:left;
    list-style:none;
    font-size:12px;
  }

}


@import 'sf_menu';
